.icon--orange {
  color: var(--font-orange);
}
.icon--grey {
  color: var(--font-grey);
}
.icon--dark-grey{
  color: var(--font-dark-grey)
}

.icon--medium {
  font-size: 20px;
}

.icon--medium-big {
  font-size: 30px;
}