
.content {
  width: 100%;
}
.main-content{
  max-width: 980px;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: auto;
  padding: 18px;
}
.main__products {
  display: flex;
  gap: 20px;
  max-width: 664px;
  flex-wrap: wrap;
}

.aside {
  display: flex;
  flex-direction: column;
  max-width: 147px;
  padding: 8px 12px;
  background: var(--background-white);
  border-radius: 4px;
}

.nav-category{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--font-grey);
  padding: 8px 0;
}
.nav-category a{
  padding: 4px 5px;
}
.nav-category a:hover{
  cursor: pointer;
  color: var(--font-orange);
  border-left: var(--border-orange);
}

/* Funciona como un switch */
.category--selected {
  color: var(--font-orange);
  border-left: var(--border-orange);
}